*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dice-1, .dice-2{
    width: 200px;
}

body{
    width: 100vw;
    height: 200vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238,174,202,1) 0%, rgb(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    width: 60%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238, 174, 202, 1) 0%, rgb(148, 187, 233, 1) 100%);
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
h1{
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    color: red;
    border-bottom: 1px solid black;
}
.dices{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.dices img{
    width: 125px;
    height: 125px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.dice-sum{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 3rem;
}

.button-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn-start, .btn-restart{
    width: 200px;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: #d947fd;
    color: rgb(185, 245, 242);
    cursor: pointer;
    border-radius: 1.5rem;
    margin: 0 1rem;
    transition: background-color 0.3s ease;
}

.btn-start:hover, .btn-restart:hover{
    background-color: #9154a0;
}

.lblNumber{
    font-size: 2rem;
    text-align: center;
    color: #5b2d66;
    font-style: unset;

}
.selectnum{
    font-size: 1.5rem;
    color: #9154a0;
    background-color: rgb(238, 174, 202);
    margin: 0 0 5rem;
    justify-content: left;
    border-radius: .5rem;
}

.result{
    font-size: 3rem;
    text-align: center;
    color: green;
    margin-top: 4rem;
}
.animation{
    animation: rotate-fadeout 2s;
}

/*animation*/
@keyframes rotate-fadeout{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    100%{opacity: 0;}
}