*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dice-1, .dice-2{
    width: 200px;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238,174,202,1) 0%, rgb(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    width: 60%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238, 174, 202, 1) 0%, rgb(148, 187, 233, 1) 100%);
    padding: 1rem;
    border-radius: 25px;
}
h1{
    font-size: 5rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    color: red;
    border-bottom: 1px solid black;
}
.dices{
    display: flex;
    justify-content: center;
}
.dices img{
    margin-right: 20px;
}
.dice-sum{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}
.btn-roll{
    width: 150px;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 1.5rem;
}
.button-container{
    text-align: center;
}

.animation{
    animation: rotate-fadeout 2s;
}

/*animation*/
@keyframes rotate-fadeout{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    100%{opacity: 0;}
}